body {
	background-color: #76acfc !important;
	color: #fff !important;
}

.container {
	width: 960px !important;
	margin: auto !important;
}

.input-field {
	padding: 0 !important;
}

.input-field input {
	display: block;
	height: 45px;
	margin-bottom: 9px;

}